<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Events List</h2>
    <h4>Categories</h4>
    <%allCategories.forEach(event=>{%>
    <a href="category/<%= event%>">
      <button><%= event%></button>
    </a>
    <%})%>
    <h4>Events</h4>
    <%events.forEach(event=>{%> <%var some = event.event_category.split(",")%>
    <a href="/event/<%= event._id%>">
      <p><%= event.title%></p>
    </a>
    <%})%>
    <h4>Location</h4>
    <%allLocations.forEach(location=>{%>
    <a href="location/<%= location%>">
      <button><%= location%></button>
    </a>
    <%})%>
    <h4>Sort</h4>
    <a href="date/ascend">
      <button>Ascend</button>
    </a>
    <a href="date/descend">
      <button>Descend</button>
    </a>
  </body>
</html>